<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <img class="navbar-brand-mark" src="{{ '/assets/images/logo/lab-logo.png' | relative_url }}" alt="">
        <span>{{ site.title }}</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav site-menu">
        {% for nav in site.menu %}
          {% if nav.url contains 'http' %}
            <li><a href="{{ nav.url }}" target="_blank" rel="noopener">{{ nav.title }}</a></li>
          {% else %}
            <li><a href="{{ nav.url | relative_url }}">{{ nav.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
