<div class="well">
    <h5><strong>News</strong></h4>

    <!-- {% for article in site.data.news limit:6 %}
        <strong>{{ article.date }}</strong>
        <p>{{ article.headline }}</p>
    {% endfor %}
    <a href="{{ site.url }}{{ site.baseurl }}/news">... see all News</a> -->
    
    <a class="twitter-timeline" href="https://twitter.com/ANDlab3" data-tweet-limit="3" data-chrome="noheader nofooter transparent"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
