// main body font
$main-font: "Segoe UI", Microsoft YaHei, Helvetica, Arial, sans-serif;

// basic font size
$modal-lg: 950px !default;
$font-size-base: 20px !default;

// navbar background color
$navbar-default-bg: #ffffff !default;

// text highlight color
$highlight-text: #4b9cff;

// block background
$block-bg: #f5f5f56b;

$homepage-highlight: #e06666;
