<!DOCTYPE html>
<html class="hide-scrollbar">

  {% include head.html %}

  <body class="page page-{{ page.title | downcase | replace: ' ', '-' }}">

    {% include header.html %}

    <main class="site-main">
      <div class="container-fluid site-container">
        <div class="col-sm-12">
          <div class="row">
            {{ content }}
          </div>
        </div>
      </div>
    </main>

    {% include footer.html %}
    {% unless page.title == 'Home' %}<script src="{{ '/assets/js/inner-pages.js' | relative_url }}" defer></script>{% endunless %}
  </body>

</html>
