---
layout: default
---

<!-- Title and logo -->
<div class="col-sm-8 lab-title">
    <h2>A<span style="color:#555555">ffective,</span>
        <br>N<span style="color:#555555">euroscience, and</span>
        <br>D<span style="color:#555555">ecision-making</span> Lab</h2>
</div>
<div id="lab-logo" class="col-sm-4 lab-logo">
    <img src="{{ site.url }}{{ site.baseurl }}/assets/images/logo/lab-logo.png">
</div>

<!-- Content and News -->
<div id="homeid" class="ml-0 nopadding-left">
    {{ content }}
</div>
<!-- <div id="newsid" class="col-sm-4">
    {% include news_side.html %}
</div> -->
